nifi-flow/S3DataProtectNecessaryFields-version-12.json
{"snapshotMetadata":{"registryIdentifier":null,"registryName":null,"branch":null,"bucketIdentifier":null,"flowIdentifier":"31124aab-b5c0-459d-969d-bc882b6c0295","flowName":null,"version":null,"timestamp":1781223160914,"author":null,"comments":null},"flow":null,"bucket":null,"flowContents":{"identifier":"cd3cc5de-9255-442c-9154-f114c8b7d79c","instanceIdentifier":null,"name":"S3DataProtectNecessaryFields","comments":null,"position":null,"processGroups":[{"identifier":"12688cc5-81fc-4359-9d98-7e603a718598","instanceIdentifier":null,"name":"Ohana-Capstone-Ingestion","comments":null,"position":{"x":-282.32657985760903,"y":-134.57916831142688},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"d3c4cecd-9264-4483-85d4-c12f830efb67","instanceIdentifier":null,"name":"CompressContent","comments":"","position":{"x":-163.93432451062716,"y":565.6824772231993},"type":"org.apache.nifi.processors.standard.CompressContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"Update Filename":"false","Compression Format":"gzip","Mode":"decompress","Compression Level":"1"},"propertyDescriptors":{"Update Filename":{"name":"Update Filename","displayName":"Update Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Compression Format":{"name":"Compression Format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Mode":{"name":"Mode","displayName":"Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"12688cc5-81fc-4359-9d98-7e603a718598"},{"identifier":"f9cd9c7e-53bc-4518-9355-5828576fddd3","instanceIdentifier":null,"name":"RouteOnAttribute","comments":"","position":{"x":446.1850157131405,"y":732.5861598502692},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"always":"${literal(true):equals('true')}","Routing Strategy":"Route to Property name"},"propertyDescriptors":{"always":{"name":"always","displayName":"always","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"12688cc5-81fc-4359-9d98-7e603a718598"},{"identifier":"a84e1d05-dc48-4c41-8dd4-01948f7c5535","instanceIdentifier":null,"name":"ExecuteScript","comments":"","position":{"x":424.5348194862654,"y":-57.53799431059775},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"Script Engine":"Groovy","Script Body":"import org.apache.commons.io.IOUtils\nimport java.nio.charset.StandardCharsets\nimport org.apache.nifi.processor.io.StreamCallback\nimport groovy.json.JsonBuilder\nimport groovy.xml.XmlSlurper\n\ndef flowFile = session.get()\nif (!flowFile) return\n\ntry {\n    flowFile = session.write(flowFile, { inputStream, outputStream ->\n        String text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n        \n        text = text.replaceAll(/xmlns(:[a-zA-Z0-9\\-]+)?=\"[^\"]*\"/, \"\")\n        text = text.replaceAll(/<([a-zA-Z0-9\\-]+):/, \"<\")\n        text = text.replaceAll(/<\\/([a-zA-Z0-9\\-]+):/, \"</\")\n        \n        def root = new XmlSlurper(false, false).parseText(text)\n        \n        def counterMap = [:]\n        root.'**'.findAll { it.name().contains('measType') }.each { mt ->\n            def pVal = mt.@p.text()\n            if (pVal && mt.text()) {\n                counterMap[pVal] = mt.text().trim()\n            }\n        }\n\n        def results = []\n        root.'**'.findAll { it.name().contains('measValue') }.each { mv ->\n            def cellId = mv.@measObjLdn.text() ?: 'unknown_cell'\n            def record = [cell_id: cellId]\n\n\t\t\t// --- ARCHITECTURE FIX 3: Extract Hidden Timestamp ---\n\t\t\tdef tsTag = mv.'**'.find { it.name().contains('suspectFlag') }\n\t\t\tif (tsTag) {\n    \t\t\trecord['collection_timestamp'] = tsTag.text().trim()\n\t\t\t}        \n    \n            def measResultsTag = mv.'**'.find { it.name().contains('measResults') }\n            \n            if (measResultsTag) {\n                def valuesArray = measResultsTag.text().trim().split(\"\\\\s+\")\n                \n                valuesArray.eachWithIndex { val, idx ->\n                    def pVal = (idx + 1).toString()\n                    \n                    if (counterMap.containsKey(pVal) && val != \"None\" && val != \"null\") {\n                        def counterName = counterMap[pVal]\n                        \n                        // --- ARCHITECTURE FIX 1: Rename to match Schema ---\n                        if (counterName == \"dl_throughput_mbps\") {\n                            counterName = \"throughput_mbps\"\n                        }\n                        \n                        try {\n                            def numericVal = val.toDouble()\n                            \n                            // --- ARCHITECTURE FIX 2: CPNI Masking Math ---\n                            if (counterName == \"active_ue_count\") {\n                                // Divide by 10, cast to int (truncates decimals), multiply by 10\n                                numericVal = (numericVal / 10).intValue() * 10\n                            }\n                            \n                            record[counterName] = numericVal\n                        } catch (NumberFormatException e) {\n                            record[counterName] = val \n                        }\n                    }\n                }\n            }\n            results << record\n        }\n        \n        def outputData = results.size() == 1 ? results[0] : results\n        def jsonString = new JsonBuilder(outputData).toString()\n        outputStream.write(jsonString.getBytes(StandardCharsets.UTF_8))\n        \n    } as StreamCallback)\n    \n    flowFile = session.putAttribute(flowFile, \"mime.type\", \"application/json\")\n    session.transfer(flowFile, REL_SUCCESS)\n    \n} catch (Exception e) {\n    log.error(\"Failed to parse PySpark 3GPP XML\", e)\n    session.transfer(flowFile, REL_FAILURE)\n}"},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"12688cc5-81fc-4359-9d98-7e603a718598"},{"identifier":"ae70b95c-ca1b-44b0-a526-7299a610fcd5","instanceIdentifier":null,"name":"UpdateAttribute","comments":"","position":{"x":454.7843028974496,"y":1133.9869136609095},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"kafka.key":"${cell_id}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"kafka.key":{"name":"kafka.key","displayName":"kafka.key","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"12688cc5-81fc-4359-9d98-7e603a718598"},{"identifier":"452c2520-e6d0-40a4-9cac-f0f7f7bd8eed","instanceIdentifier":null,"name":"ListS3","comments":"","position":{"x":0.7627468197573535,"y":-81.25508273800413},"type":"org.apache.nifi.processors.aws.s3.ListS3","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"Minimum Object Age":"0 sec","Entity Tracking Initial Listing Target":"all","et-initial-listing-target":"all","List Type":"1","et-time-window":"3 hours","Prefix":"raw/ran-pm/","Write Object Tags":"false","AWS Credentials Provider service":"d25024a7-f324-4f25-ad13-bc12039a919a","Listing Batch Size":"100","Signer Override":"Default Signature","Bucket":"ps-amer-ohana-telecom","Communications Timeout":"30 secs","Region":"us-east-2","Custom Signer Class Name":null,"et-state-cache":null,"Entity Tracking Time Window":"3 hours","Use Versions":"false","Listing Strategy":"timestamps","Write User Metadata":"false","Requester Pays":"false"},"propertyDescriptors":{"Minimum Object Age":{"name":"Minimum Object Age","displayName":"Minimum Object Age","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Entity Tracking Initial Listing Target":{"name":"Entity Tracking Initial Listing Target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Maximum Object Age":{"name":"Maximum Object Age","displayName":"Maximum Object Age","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"List Type":{"name":"List Type","displayName":"List Type","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Prefix":{"name":"Prefix","displayName":"Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Entity Tracking Time Window":{"name":"Entity Tracking Time Window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Use Versions":{"name":"Use Versions","displayName":"Use Versions","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Requester Pays":{"name":"Requester Pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Delimiter":{"name":"Delimiter","displayName":"Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider service","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Write Object Tags":{"name":"Write Object Tags","displayName":"Write Object Tags","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Listing Batch Size":{"name":"Listing Batch Size","displayName":"Listing Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Custom Signer Module Location":{"name":"Custom Signer Module Location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Custom Signer Class Name":{"name":"Custom Signer Class Name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Listing Strategy":{"name":"Listing Strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Write User Metadata":{"name":"Write User Metadata","displayName":"Write User Metadata","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"12688cc5-81fc-4359-9d98-7e603a718598"},{"identifier":"257af048-a0b1-43b6-a0df-97b10d0eaf61","instanceIdentifier":null,"name":"ValidateRecord","comments":"","position":{"x":447.59884369439783,"y":350.3535572257106},"type":"org.apache.nifi.processors.standard.ValidateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"allow-extra-fields":"true","strict-type-checking":"true","schema-name":"PMRecord","record-writer":"acc79062-11f7-4cf1-98d3-c40b0840b74f","schema-registry":"137af676-c6d6-4800-b003-3ac99248f42d","coerce-types":"false","record-reader":"ef5db84e-3edd-46b9-a852-9b90c194b5c9","maximum-validation-details-length":"1024","schema-access-strategy":"schema-name","schema-text":"${avro.schema}"},"propertyDescriptors":{"allow-extra-fields":{"name":"allow-extra-fields","displayName":"Allow Extra Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"strict-type-checking":{"name":"strict-type-checking","displayName":"Strict Type Checking","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"invalid-record-writer":{"name":"invalid-record-writer","displayName":"Record Writer for Invalid Records","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"coerce-types":{"name":"coerce-types","displayName":"Force Types From Reader's Schema","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"validation-details-attribute-name":{"name":"validation-details-attribute-name","displayName":"Validation Details Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"maximum-validation-details-length":{"name":"maximum-validation-details-length","displayName":"Maximum Validation Details Length","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","invalid"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"12688cc5-81fc-4359-9d98-7e603a718598"},{"identifier":"aba0b926-8e89-4b47-a71d-2252bf5c44a6","instanceIdentifier":null,"name":"SplitXml","comments":"","position":{"x":9.499503171506035,"y":883.8569818203202},"type":"org.apache.nifi.processors.standard.SplitXml","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"Split Depth":"2"},"propertyDescriptors":{"Split Depth":{"name":"Split Depth","displayName":"Split Depth","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"12688cc5-81fc-4359-9d98-7e603a718598"},{"identifier":"8884f7ae-7f01-4f3f-bf62-ebb198970116","instanceIdentifier":null,"name":"PublishKafkaRecord_2_6","comments":"","position":{"x":900.9530532247329,"y":1116.8570600684936},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"compression.type":"none","record-writer":"acc79062-11f7-4cf1-98d3-c40b0840b74f","bootstrap.servers":"ps-amer-kafka-hub-corebroker0.ps-amer.a465-9q4k.cloudera.site:9093,ps-amer-kafka-hub-corebroker1.ps-amer.a465-9q4k.cloudera.site:9093,ps-amer-kafka-hub-corebroker2.ps-amer.a465-9q4k.cloudera.site:9093","AWS Assume Role ARN":null,"sasl.kerberos.service.name":null,"AWS Role Source":"DEFAULT_PROFILE","sasl.mechanism":"PLAIN","max.block.ms":"5 sec","message-header-encoding":"UTF-8","record-reader":"ef5db84e-3edd-46b9-a852-9b90c194b5c9","kerberos-user-service":null,"ack.wait.time":"5 secs","sasl.username":"athangamani","use-transactions":"true","acks":"all","aws.profile.name":null,"Record Metadata Strategy":"Use Configured Values","security.protocol":"SASL_SSL","max.request.size":"1 MB","SSL Context Service":"3f74b4b4-7ef6-4eb3-a2b7-436a3f804b4b","sasl.token.auth":"false","message-key-field":"cell_id","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","AWS Assume Role Session Name":null,"topic":"network.pm.raw","sasl.password":"#{SASL Password - New}","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"AWS Assume Role ARN":{"name":"AWS Assume Role ARN","displayName":"AWS Assume Role ARN","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"AWS Role Source":{"name":"AWS Role Source","displayName":"AWS Role Source","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"AWS Assume Role Session Name":{"name":"AWS Assume Role Session Name","displayName":"AWS Assume Role Session Name","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false,"resourceDefinition":null},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"12688cc5-81fc-4359-9d98-7e603a718598"},{"identifier":"f02f959f-1f4d-4c3f-82fb-5d7ffcec3c14","instanceIdentifier":null,"name":"FetchS3Object","comments":"","position":{"x":7.173401671529007,"y":257.2282748106811},"type":"org.apache.nifi.processors.aws.s3.FetchS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"Signer Override":"Default Signature","Bucket":"${s3.bucket}","Communications Timeout":"30 secs","Region":"us-east-2","Custom Signer Class Name":null,"Requester Pays":"false","Object Key":"${filename}","AWS Credentials Provider service":"d25024a7-f324-4f25-ad13-bc12039a919a"},"propertyDescriptors":{"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider service","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Custom Signer Module Location":{"name":"Custom Signer Module Location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Range Start":{"name":"Range Start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Version":{"name":"Version","displayName":"Version","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Custom Signer Class Name":{"name":"Custom Signer Class Name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Encryption Service":{"name":"Encryption Service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Requester Pays":{"name":"Requester Pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Range Length":{"name":"Range Length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"12688cc5-81fc-4359-9d98-7e603a718598"},{"identifier":"88417fd1-c845-4937-8eca-0b07b77e283e","instanceIdentifier":null,"name":"PutS3Object","comments":"","position":{"x":880.0595693602788,"y":749.4407824153268},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","Resource Transfer Source":"FLOWFILE_CONTENT","Multipart Upload Max Age Threshold":"7 days","File Resource Service":null,"Signer Override":"Default Signature","Canned ACL":"${s3.permissions.cannedacl}","Use Path Style Access":"false","Write ACL User List":"${s3.permissions.writeacl.users}","Use Chunked Encoding":"true","Read ACL User List":"${s3.permissions.readacl.users}","Storage Class":"Standard","Multipart Part Size":"5 GB","Remove Tag Prefix":"false","Object Key":"raw/ran-pm/parsed/${now():format('yyyy/MM/dd')}/${uuid}.json","Multipart Threshold":"5 GB","AWS Credentials Provider service":"d25024a7-f324-4f25-ad13-bc12039a919a","Temporary Directory Multipart State":"${java.io.tmpdir}","Server Side Encryption":"None","Bucket":"ps-amer-ohana-telecom","Multipart Upload AgeOff Interval":"60 min","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Region":"us-east-2","Read Permission User List":"${s3.permissions.read.users}","Custom Signer Class Name":null},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Object Tags Prefix":{"name":"Object Tags Prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Canned ACL":{"name":"Canned ACL","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Use Path Style Access":{"name":"Use Path Style Access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Encryption Service":{"name":"Encryption Service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Remove Tag Prefix":{"name":"Remove Tag Prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider service","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Temporary Directory Multipart State":{"name":"Temporary Directory Multipart State","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Custom Signer Module Location":{"name":"Custom Signer Module Location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Server Side Encryption":{"name":"Server Side Encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Custom Signer Class Name":{"name":"Custom Signer Class Name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"12688cc5-81fc-4359-9d98-7e603a718598"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"7ac0d973-2313-46f0-b0c7-e2a55899f9ec","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"f9cd9c7e-53bc-4518-9355-5828576fddd3","type":"PROCESSOR","groupId":"12688cc5-81fc-4359-9d98-7e603a718598","name":"RouteOnAttribute","comments":null,"instanceIdentifier":null},"destination":{"id":"ae70b95c-ca1b-44b0-a526-7299a610fcd5","type":"PROCESSOR","groupId":"12688cc5-81fc-4359-9d98-7e603a718598","name":"UpdateAttribute","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["always"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"12688cc5-81fc-4359-9d98-7e603a718598"},{"identifier":"b6708e34-e6f7-412c-9628-1f415f5830f1","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"f9cd9c7e-53bc-4518-9355-5828576fddd3","type":"PROCESSOR","groupId":"12688cc5-81fc-4359-9d98-7e603a718598","name":"RouteOnAttribute","comments":null,"instanceIdentifier":null},"destination":{"id":"88417fd1-c845-4937-8eca-0b07b77e283e","type":"PROCESSOR","groupId":"12688cc5-81fc-4359-9d98-7e603a718598","name":"PutS3Object","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["always"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"12688cc5-81fc-4359-9d98-7e603a718598"},{"identifier":"4366a7a4-ff3d-4992-883c-c4c0d2ef6f3c","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"a84e1d05-dc48-4c41-8dd4-01948f7c5535","type":"PROCESSOR","groupId":"12688cc5-81fc-4359-9d98-7e603a718598","name":"ExecuteScript","comments":null,"instanceIdentifier":null},"destination":{"id":"257af048-a0b1-43b6-a0df-97b10d0eaf61","type":"PROCESSOR","groupId":"12688cc5-81fc-4359-9d98-7e603a718598","name":"ValidateRecord","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"12688cc5-81fc-4359-9d98-7e603a718598"},{"identifier":"8b3c4680-9635-4ebe-85dc-2c209757e514","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"257af048-a0b1-43b6-a0df-97b10d0eaf61","type":"PROCESSOR","groupId":"12688cc5-81fc-4359-9d98-7e603a718598","name":"ValidateRecord","comments":null,"instanceIdentifier":null},"destination":{"id":"f9cd9c7e-53bc-4518-9355-5828576fddd3","type":"PROCESSOR","groupId":"12688cc5-81fc-4359-9d98-7e603a718598","name":"RouteOnAttribute","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["valid"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"12688cc5-81fc-4359-9d98-7e603a718598"},{"identifier":"6a16f68e-d18e-423a-9f6c-42bbec392d06","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"ae70b95c-ca1b-44b0-a526-7299a610fcd5","type":"PROCESSOR","groupId":"12688cc5-81fc-4359-9d98-7e603a718598","name":"UpdateAttribute","comments":null,"instanceIdentifier":null},"destination":{"id":"8884f7ae-7f01-4f3f-bf62-ebb198970116","type":"PROCESSOR","groupId":"12688cc5-81fc-4359-9d98-7e603a718598","name":"PublishKafkaRecord_2_6","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"12688cc5-81fc-4359-9d98-7e603a718598"},{"identifier":"1b0a074c-a295-494a-a3d1-d0ecb29987f7","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"d3c4cecd-9264-4483-85d4-c12f830efb67","type":"PROCESSOR","groupId":"12688cc5-81fc-4359-9d98-7e603a718598","name":"CompressContent","comments":null,"instanceIdentifier":null},"destination":{"id":"aba0b926-8e89-4b47-a71d-2252bf5c44a6","type":"PROCESSOR","groupId":"12688cc5-81fc-4359-9d98-7e603a718598","name":"SplitXml","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1000,"backPressureDataSizeThreshold":"200 MB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"12688cc5-81fc-4359-9d98-7e603a718598"},{"identifier":"7da1653d-d3f6-493a-b395-b6f2bf3e3925","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"452c2520-e6d0-40a4-9cac-f0f7f7bd8eed","type":"PROCESSOR","groupId":"12688cc5-81fc-4359-9d98-7e603a718598","name":"ListS3","comments":null,"instanceIdentifier":null},"destination":{"id":"f02f959f-1f4d-4c3f-82fb-5d7ffcec3c14","type":"PROCESSOR","groupId":"12688cc5-81fc-4359-9d98-7e603a718598","name":"FetchS3Object","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"12688cc5-81fc-4359-9d98-7e603a718598"},{"identifier":"896eaf96-8321-40c7-b98f-b533499efc4a","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"aba0b926-8e89-4b47-a71d-2252bf5c44a6","type":"PROCESSOR","groupId":"12688cc5-81fc-4359-9d98-7e603a718598","name":"SplitXml","comments":null,"instanceIdentifier":null},"destination":{"id":"a84e1d05-dc48-4c41-8dd4-01948f7c5535","type":"PROCESSOR","groupId":"12688cc5-81fc-4359-9d98-7e603a718598","name":"ExecuteScript","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":1000,"backPressureDataSizeThreshold":"200 MB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"12688cc5-81fc-4359-9d98-7e603a718598"},{"identifier":"eb309cff-0147-43db-9f31-d7be9cdd56ae","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"f02f959f-1f4d-4c3f-82fb-5d7ffcec3c14","type":"PROCESSOR","groupId":"12688cc5-81fc-4359-9d98-7e603a718598","name":"FetchS3Object","comments":null,"instanceIdentifier":null},"destination":{"id":"d3c4cecd-9264-4483-85d4-c12f830efb67","type":"PROCESSOR","groupId":"12688cc5-81fc-4359-9d98-7e603a718598","name":"CompressContent","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":500,"backPressureDataSizeThreshold":"100 MB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"12688cc5-81fc-4359-9d98-7e603a718598"}],"labels":[],"funnels":[],"controllerServices":[],"versionedFlowCoordinates":null,"parameterContextName":"S3DataProtectNecessaryFields","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":null,"executionEngine":null,"maxConcurrentTasks":null,"statelessFlowTimeout":null,"logFileSuffix":null,"componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"cd3cc5de-9255-442c-9154-f114c8b7d79c"},{"identifier":"32ff8a8a-8cb1-440a-8e5e-d60717af3bae","instanceIdentifier":null,"name":"Ohana-ML-Simulator","comments":null,"position":{"x":-272.3265686035156,"y":135.42083740234375},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"0c4c1e74-427b-4c18-a3e0-0fc5db5d72b6","instanceIdentifier":null,"name":"PublishKafka","comments":"","position":{"x":90.62732881171135,"y":686.0693508953832},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"compression.type":"none","Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"cell_tower_telemetry","Kafka Connection Service":"596ce045-c8c5-46a0-a9ee-0aa58317b319","Publish Strategy":"USE_VALUE","acks":"all","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Kafka Key Attribute Encoding":"utf-8","Transactions Enabled":"true","Record Metadata Strategy":"FROM_PROPERTIES"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"32ff8a8a-8cb1-440a-8e5e-d60717af3bae"},{"identifier":"e111669a-4643-40d3-8159-d929436c71b3","instanceIdentifier":null,"name":"ListSFTP","comments":"","position":{"x":77.16299438476562,"y":-105.61575698852539},"type":"org.apache.nifi.processors.standard.ListSFTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"Minimum File Age":"0 sec","et-initial-listing-target":"all","Ignore Dotted Files":"true","Port":"22","Hostname":"35.91.66.114","et-time-window":"3 hours","Remote Path":"/home/ubuntu/cell_data_drop","Use Compression":"false","Send Keep Alive On Timeout":"true","Connection Timeout":"30 sec","Data Timeout":"30 sec","listing-strategy":"timestamps","follow-symlink":"false","Username":"ubuntu","target-system-timestamp-precision":"auto-detect","Algorithm Negotiation":"DEFAULT","Minimum File Size":"0 B","Search Recursively":"false","Strict Host Key Checking":"false","Password":"#{Password}"},"propertyDescriptors":{"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Ignore Dotted Files":{"name":"Ignore Dotted Files","displayName":"Ignore Dotted Files","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Ciphers Allowed":{"name":"Ciphers Allowed","displayName":"Ciphers Allowed","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Private Key Passphrase":{"name":"Private Key Passphrase","displayName":"Private Key Passphrase","identifiesControllerService":false,"sensitive":true,"dynamic":false,"resourceDefinition":null},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Path Filter Regex":{"name":"Path Filter Regex","displayName":"Path Filter Regex","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"follow-symlink":{"name":"follow-symlink","displayName":"Follow symlink","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Search Recursively":{"name":"Search Recursively","displayName":"Search Recursively","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Strict Host Key Checking":{"name":"Strict Host Key Checking","displayName":"Strict Host Key Checking","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false,"resourceDefinition":null},"File Filter Regex":{"name":"File Filter Regex","displayName":"File Filter Regex","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Remote Path":{"name":"Remote Path","displayName":"Remote Path","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Host Key File":{"name":"Host Key File","displayName":"Host Key File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Use Compression":{"name":"Use Compression","displayName":"Use Compression","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Message Authentication Codes Allowed":{"name":"Message Authentication Codes Allowed","displayName":"Message Authentication Codes Allowed","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Send Keep Alive On Timeout":{"name":"Send Keep Alive On Timeout","displayName":"Send Keep Alive On Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Data Timeout":{"name":"Data Timeout","displayName":"Data Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Private Key Path":{"name":"Private Key Path","displayName":"Private Key Path","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"target-system-timestamp-precision":{"name":"target-system-timestamp-precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Algorithm Negotiation":{"name":"Algorithm Negotiation","displayName":"Algorithm Negotiation","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Key Exchange Algorithms Allowed":{"name":"Key Exchange Algorithms Allowed","displayName":"Key Exchange Algorithms Allowed","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Key Algorithms Allowed":{"name":"Key Algorithms Allowed","displayName":"Key Algorithms Allowed","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"32ff8a8a-8cb1-440a-8e5e-d60717af3bae"},{"identifier":"7ed3b1aa-a7a5-4a56-9626-3eeb1d75beb6","instanceIdentifier":null,"name":"LogAttribute","comments":"","position":{"x":494.19087922211213,"y":498.8251171611131},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"character-set":"UTF-8","Log FlowFile Properties":"true","attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false","Log Level":"info"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"32ff8a8a-8cb1-440a-8e5e-d60717af3bae"},{"identifier":"e71520a9-e9e2-40c4-b359-e598006fc30e","instanceIdentifier":null,"name":"ConsumeKafka","comments":"","position":{"x":488.3758507947583,"y":122.01075279398194},"type":"org.apache.nifi.kafka.processors.ConsumeKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"Topics":"cell_tower_telemetry","Commit Offsets":"true","Key Format":"byte-array","Key Record Reader":null,"Message Demarcator":null,"Record Reader":null,"Key Attribute Encoding":"utf-8","Topic Format":"names","Header Encoding":"UTF-8","Max Uncommitted Time":"100 millis","Kafka Connection Service":"596ce045-c8c5-46a0-a9ee-0aa58317b319","Separate By Key":"false","Processing Strategy":"FLOW_FILE","Record Writer":null,"Group ID":"test-consumer-01","auto.offset.reset":"earliest","Output Strategy":"USE_VALUE"},"propertyDescriptors":{"Topics":{"name":"Topics","displayName":"Topics","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Header Name Pattern":{"name":"Header Name Pattern","displayName":"Header Name Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Key Format":{"name":"Key Format","displayName":"Key Format","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Key Record Reader":{"name":"Key Record Reader","displayName":"Key Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Key Attribute Encoding":{"name":"Key Attribute Encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Max Uncommitted Size":{"name":"Max Uncommitted Size","displayName":"Max Uncommitted Size","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Topic Format":{"name":"Topic Format","displayName":"Topic Format","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Max Uncommitted Time":{"name":"Max Uncommitted Time","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Separate By Key":{"name":"Separate By Key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Processing Strategy":{"name":"Processing Strategy","displayName":"Processing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Group ID":{"name":"Group ID","displayName":"Group ID","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Auto Offset Reset","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Output Strategy":{"name":"Output Strategy","displayName":"Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"32ff8a8a-8cb1-440a-8e5e-d60717af3bae"},{"identifier":"b5c3950f-5b2c-40e3-8837-17c9a3ca6b34","instanceIdentifier":null,"name":"FetchSFTP","comments":"","position":{"x":68.53019801612939,"y":270.87571045580785},"type":"org.apache.nifi.processors.standard.FetchSFTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"Port":"22","Remote File":"${path}/${filename}","Hostname":"35.91.66.114","Create Directory":"false","Use Compression":"false","Disable Directory Listing":"false","Send Keep Alive On Timeout":"true","Completion Strategy":"Delete File","fetchfiletransfer-notfound-loglevel":"ERROR","Connection Timeout":"30 sec","Data Timeout":"30 sec","Username":"ubuntu","Algorithm Negotiation":"DEFAULT","Strict Host Key Checking":"false","Password":"#{Password}"},"propertyDescriptors":{"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Remote File":{"name":"Remote File","displayName":"Remote File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Create Directory":{"name":"Create Directory","displayName":"Create Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Host Key File":{"name":"Host Key File","displayName":"Host Key File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Use Compression":{"name":"Use Compression","displayName":"Use Compression","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Ciphers Allowed":{"name":"Ciphers Allowed","displayName":"Ciphers Allowed","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Message Authentication Codes Allowed":{"name":"Message Authentication Codes Allowed","displayName":"Message Authentication Codes Allowed","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Disable Directory Listing":{"name":"Disable Directory Listing","displayName":"Disable Directory Listing","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Send Keep Alive On Timeout":{"name":"Send Keep Alive On Timeout","displayName":"Send Keep Alive On Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Private Key Passphrase":{"name":"Private Key Passphrase","displayName":"Private Key Passphrase","identifiesControllerService":false,"sensitive":true,"dynamic":false,"resourceDefinition":null},"fetchfiletransfer-notfound-loglevel":{"name":"fetchfiletransfer-notfound-loglevel","displayName":"Log level when file not found","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Data Timeout":{"name":"Data Timeout","displayName":"Data Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Private Key Path":{"name":"Private Key Path","displayName":"Private Key Path","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Algorithm Negotiation":{"name":"Algorithm Negotiation","displayName":"Algorithm Negotiation","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Key Exchange Algorithms Allowed":{"name":"Key Exchange Algorithms Allowed","displayName":"Key Exchange Algorithms Allowed","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Strict Host Key Checking":{"name":"Strict Host Key Checking","displayName":"Strict Host Key Checking","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Key Algorithms Allowed":{"name":"Key Algorithms Allowed","displayName":"Key Algorithms Allowed","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["comms.failure","permission.denied","not.found"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"32ff8a8a-8cb1-440a-8e5e-d60717af3bae"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"a68bfb2c-30dc-4ef1-af3b-e150ec17323c","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"e111669a-4643-40d3-8159-d929436c71b3","type":"PROCESSOR","groupId":"32ff8a8a-8cb1-440a-8e5e-d60717af3bae","name":"ListSFTP","comments":null,"instanceIdentifier":null},"destination":{"id":"b5c3950f-5b2c-40e3-8837-17c9a3ca6b34","type":"PROCESSOR","groupId":"32ff8a8a-8cb1-440a-8e5e-d60717af3bae","name":"FetchSFTP","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"32ff8a8a-8cb1-440a-8e5e-d60717af3bae"},{"identifier":"94ce310f-7eae-4553-bb6b-4fd862eaaf15","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"b5c3950f-5b2c-40e3-8837-17c9a3ca6b34","type":"PROCESSOR","groupId":"32ff8a8a-8cb1-440a-8e5e-d60717af3bae","name":"FetchSFTP","comments":null,"instanceIdentifier":null},"destination":{"id":"0c4c1e74-427b-4c18-a3e0-0fc5db5d72b6","type":"PROCESSOR","groupId":"32ff8a8a-8cb1-440a-8e5e-d60717af3bae","name":"PublishKafka","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"32ff8a8a-8cb1-440a-8e5e-d60717af3bae"},{"identifier":"5a2e0ee0-ba01-4606-9845-4fa4368ccf15","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"e71520a9-e9e2-40c4-b359-e598006fc30e","type":"PROCESSOR","groupId":"32ff8a8a-8cb1-440a-8e5e-d60717af3bae","name":"ConsumeKafka","comments":null,"instanceIdentifier":null},"destination":{"id":"7ed3b1aa-a7a5-4a56-9626-3eeb1d75beb6","type":"PROCESSOR","groupId":"32ff8a8a-8cb1-440a-8e5e-d60717af3bae","name":"LogAttribute","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"32ff8a8a-8cb1-440a-8e5e-d60717af3bae"}],"labels":[],"funnels":[],"controllerServices":[],"versionedFlowCoordinates":null,"parameterContextName":"S3DataProtectNecessaryFields","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":null,"executionEngine":null,"maxConcurrentTasks":null,"statelessFlowTimeout":null,"logFileSuffix":null,"componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"cd3cc5de-9255-442c-9154-f114c8b7d79c"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[{"identifier":"596ce045-c8c5-46a0-a9ee-0aa58317b319","instanceIdentifier":null,"name":"Kafka3ConnectionService","comments":null,"position":null,"type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"ack.wait.time":"5 sec","sasl.username":"athangamani","max.poll.records":"10000","bootstrap.servers":"ps-amer-kafka-hub-corebroker0.ps-amer.a465-9q4k.cloudera.site:9093,ps-amer-kafka-hub-corebroker1.ps-amer.a465-9q4k.cloudera.site:9093,ps-amer-kafka-hub-corebroker2.ps-amer.a465-9q4k.cloudera.site:9093","sasl.kerberos.service.name":null,"security.protocol":"SASL_SSL","SSL Context Service":"297d589c-586f-4ead-b81d-e464494f067e","sasl.mechanism":"PLAIN","isolation.level":"read_committed","max.block.ms":"5 sec","oauth2-access-token-provider-service":null,"kerberos-user-service":null,"sasl.password":"#{SASL Password}","default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"oauth2-access-token-provider-service":{"name":"oauth2-access-token-provider-service","displayName":"OAuth2 Access Token Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false,"resourceDefinition":null},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.6.0.4.3.4.0-234"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"cd3cc5de-9255-442c-9154-f114c8b7d79c"},{"identifier":"acc79062-11f7-4cf1-98d3-c40b0840b74f","instanceIdentifier":null,"name":"JsonRecordSetWriter","comments":null,"position":null,"type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"schema-reference-reader":null,"Allow Scientific Notation":"false","compression-level":"1","Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"PMRecord","schema-registry":"137af676-c6d6-4800-b003-3ac99248f42d","schema-access-strategy":"schema-name","schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0.4.3.4.0-234"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"cd3cc5de-9255-442c-9154-f114c8b7d79c"},{"identifier":"137af676-c6d6-4800-b003-3ac99248f42d","instanceIdentifier":null,"name":"AvroSchemaRegistry","comments":null,"position":null,"type":"org.apache.nifi.schemaregistry.services.AvroSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-registry-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"avro-reg-validated-field-names":"true","PMRecord":"{\n  \"type\": \"record\",\n  \"name\": \"PMRecord\",\n  \"fields\": [\n    { \"name\": \"cell_id\", \"type\": \"string\" },\n    { \"name\": \"collection_timestamp\", \"type\": [\"null\", \"string\"], \"default\": null },\n    { \"name\": \"dl_prb_utilization_pct\", \"type\": [\"null\", \"double\"], \"default\": null },\n    { \"name\": \"ul_prb_utilization_pct\", \"type\": [\"null\", \"double\"], \"default\": null },\n    { \"name\": \"throughput_mbps\", \"type\": [\"null\", \"double\"], \"default\": null },\n    { \"name\": \"active_ue_count\", \"type\": [\"null\", \"double\"], \"default\": null },\n    { \"name\": \"rrc_connected_avg\", \"type\": [\"null\", \"double\"], \"default\": null },\n    { \"name\": \"volte_sessions_active\", \"type\": [\"null\", \"double\"], \"default\": null },\n    { \"name\": \"handover_success_rate\", \"type\": [\"null\", \"double\"], \"default\": null },\n    { \"name\": \"cqi_mean\", \"type\": [\"null\", \"double\"], \"default\": null },\n    { \"name\": \"sinr_mean_db\", \"type\": [\"null\", \"double\"], \"default\": null },\n    { \"name\": \"availability_pct\", \"type\": [\"null\", \"double\"], \"default\": null }\n  ]\n}"},"propertyDescriptors":{"avro-reg-validated-field-names":{"name":"avro-reg-validated-field-names","displayName":"Validate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"PMRecord":{"name":"PMRecord","displayName":"PMRecord","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0.4.3.4.0-234"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"cd3cc5de-9255-442c-9154-f114c8b7d79c"},{"identifier":"d25024a7-f324-4f25-ad13-bc12039a919a","instanceIdentifier":null,"name":"AWSCredentialsProviderControllerService","comments":null,"position":null,"type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"Assume Role Session Time":"3600","Assume Role Session Name":null,"Assume Role STS Region":"us-west-2","Use Default Credentials":"true","Custom Signer Class Name":null,"Assume Role STS Signer Override":"Default Signature","Use Anonymous Credentials":"false"},"propertyDescriptors":{"Assume Role STS Region":{"name":"Assume Role STS Region","displayName":"Assume Role STS Region","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Assume Role Proxy Configuration Service":{"name":"Assume Role Proxy Configuration Service","displayName":"Assume Role Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Access Key ID":{"name":"Access Key ID","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true,"dynamic":false,"resourceDefinition":null},"Assume Role ARN":{"name":"Assume Role ARN","displayName":"Assume Role ARN","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Assume Role Session Time":{"name":"Assume Role Session Time","displayName":"Assume Role Session Time","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Assume Role Session Name":{"name":"Assume Role Session Name","displayName":"Assume Role Session Name","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Custom Signer Module Location":{"name":"Custom Signer Module Location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Use Default Credentials":{"name":"Use Default Credentials","displayName":"Use Default Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Assume Role External ID":{"name":"Assume Role External ID","displayName":"Assume Role External ID","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Assume Role STS Endpoint Override":{"name":"Assume Role STS Endpoint Override","displayName":"Assume Role STS Endpoint Override","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Profile Name":{"name":"Profile Name","displayName":"Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Custom Signer Class Name":{"name":"Custom Signer Class Name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Assume Role STS Signer Override":{"name":"Assume Role STS Signer Override","displayName":"Assume Role STS Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Use Anonymous Credentials":{"name":"Use Anonymous Credentials","displayName":"Use Anonymous Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Secret Access Key":{"name":"Secret Access Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true,"dynamic":false,"resourceDefinition":null},"Assume Role SSL Context Service":{"name":"Assume Role SSL Context Service","displayName":"Assume Role SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.6.0.4.3.4.0-234"}},{"type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.6.0.4.3.4.0-234"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"cd3cc5de-9255-442c-9154-f114c8b7d79c"},{"identifier":"ef5db84e-3edd-46b9-a852-9b90c194b5c9","instanceIdentifier":null,"name":"JsonTreeReader","comments":null,"position":null,"type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"schema-reference-reader":null,"Max String Length":"20 MB","schema-name":"PMRecord","starting-field-strategy":"ROOT_NODE","schema-application-strategy":"SELECTED_PART","schema-registry":"137af676-c6d6-4800-b003-3ac99248f42d","schema-access-strategy":"schema-name","schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0.4.3.4.0-234"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"cd3cc5de-9255-442c-9154-f114c8b7d79c"},{"identifier":"297d589c-586f-4ead-b81d-e464494f067e","instanceIdentifier":null,"name":"StandardSSLContextService","comments":null,"position":null,"type":"org.apache.nifi.ssl.StandardSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"Truststore Type":"#{Default SSL Context Truststore Type}","SSL Protocol":"TLS","Truststore Password":"#{Default SSL Context Truststore Password}","Truststore Filename":"#{Default SSL Context Truststore}"},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false,"resourceDefinition":null},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true,"dynamic":false,"resourceDefinition":null},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false,"resourceDefinition":null},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0.4.3.4.0-234"}},{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0.4.3.4.0-234"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"cd3cc5de-9255-442c-9154-f114c8b7d79c"}],"versionedFlowCoordinates":null,"parameterContextName":"S3DataProtectNecessaryFields","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":null,"executionEngine":null,"maxConcurrentTasks":null,"statelessFlowTimeout":null,"logFileSuffix":null,"componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":null},"externalControllerServices":{"3f74b4b4-7ef6-4eb3-a2b7-436a3f804b4b":{"identifier":"3f74b4b4-7ef6-4eb3-a2b7-436a3f804b4b","name":"Default NiFi SSL Context Service"}},"parameterContexts":{"S3DataProtectNecessaryFields":{"identifier":"44a4f0e1-7452-4887-9be4-a119d36ae8d6","instanceIdentifier":null,"name":"S3DataProtectNecessaryFields","comments":null,"position":null,"parameters":[{"name":"SASL Password","description":null,"sensitive":true,"provided":false,"value":null,"referencedAssets":null},{"name":"Password","description":null,"sensitive":true,"provided":false,"value":null,"referencedAssets":null},{"name":"SASL Password - New","description":null,"sensitive":true,"provided":false,"value":null,"referencedAssets":null}],"inheritedParameterContexts":[],"description":null,"parameterProvider":null,"parameterGroupName":null,"synchronized":null,"componentType":"PARAMETER_CONTEXT","groupIdentifier":null}},"flowEncodingVersion":null,"parameterProviders":null,"latest":false}